/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

 ::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*YOUNESS*/

@font-face {
    font-family: "Lovelo-Black";
    src: url("Lovelo_Black.eot?") format("eot"), url("Lovelo_Black.woff") format("woff"), url("Lovelo_Black.ttf") format("truetype"), url("Lovelo_Black.svg#Lovelo-Black") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Lovelo-Black";
}


/*img {
    width: 100%;
}*/

.pba {
    background: url(../img/carousel1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.pba figure {
    width: 70%;
    margin: auto;
}

.pba article {
    width: 70%;
    margin: auto;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 6px solid white;
    border-bottom: 6px solid white;
}

.pba .collections {
    border-bottom: none;
}

.collections h2, .collections p, .visiter h2, .visiter p {
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
}

.visiter p, .collections p {
    font-size: 12px;
}

.fa {
    font-size: 30px;
    color: white;
    transition: 0.5s;
}

.fa-user-o {
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    transition: 0.5s;
}

.fa-table:hover {
    color: #D8383E;
}

.fa:hover {
    color: #D8383E;
}

.texteintermediaire {
    height: 70px;
    justify-content: space-between;
}

.petittexte {
    background-color: #1D1D1E;
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petittexte h3 {
    margin: 0px;
    font-size: 20px;
}

.petittexte p {
    margin: 0px;
    font-size: 14px;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    text-shadow: 5px 5px 10px black;
    font-weight: bolder;
}

#carouselExampleControls .carousel-item {
    height: 400px;
}

.carousel-caption {
    height: 300px;
    padding: 0px;
    text-shadow: 1px 1px 10px black;
    font-weight: bolder;
}

.container-fluid .row figure {
    min-height: 320px;
    width: 100%;
}

.container-fluid .row .col1 {
    background: url(../img/col1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.col2 {
    background: url(../img/col2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.col3 {
    background: url(../img/col3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.col4 {
    background: url(../img/col4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.col5 {
    background: url(../img/col5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
}

.container-fluid .row figure:hover .overlay {
    background-color: rgba(216, 56, 63, 0.5);
}

.pub {
    background-color: #1D1D1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    height: 350px;
}

.pub a {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
    height: 39px;
    width: 40%;
    border: 5px solid white;
    padding: 15% 0%;
}

.pub a .icon {
    margin-right: 3%;
    color: white;
}

.pub p {
    color: white;
}

.pub a:hover {
    border: 5px solid #D8383E;
}

.pub a:hover p {
    color: #D8383E;
}

.pub p:hover {
    color: #D8383E;
}

.pub a:hover .icon {
    color: #D8383E;
    text-decoration: none;
}

.pub a p {
    margin-bottom: 0px;
}

.instapub {
    display: flex;
    margin-top: 4%;
    width: 40%;
    justify-content: center;
}

.instapub .icon {
    font-size: 55px;
    margin-right: 3%;
}

.instapub p {
    margin: 0px;
    display: flex;
    align-items: center;
}

.container-fluid .row .art1 {
    background: url(../img/bosch26.jpg) center;
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .row .art2 {
    background: url(../img/donatello.jpg) center;
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .row .art3 {
    background: url(../img/goya.jpg) center;
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid .row .art4 {
    background: url(../img/madone.jpg) center;
    background-size: cover;
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accroche {
    background-color: white;
    width: 70%;
    height: 162px;
}

.accroche a {
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 163px;
    justify-content: center;
}

.accroche a:hover {
    color: #D8383E;
    transition: 0.5s;
}

.container-fluid .row figure {
    padding: 0px;
    margin: 0px;
}

.applications {
    height: 300px;
    background-color: #D8383F;
    display: flex;
    flex-direction: column;
}

.applications a {
    color: white;
    width: 100%;
}

.applis {
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.applis i {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.iconappli {
    width: 35%;
    display: flex;
}

.iconappli i {
    font-size: 70px;
}

.applications:hover {
    background-color: white;
    transition: 0.4s;
}

.applications:hover i {
    color: #D8383F;
    transition: 0.4s;
}

.applications:hover a {
    color: #D8383F;
    transition: 0.4s;
}

.applications:hover p {
    color: #D8383F;
    transition: 0.4s;
}

.applications a:hover {
    text-decoration: none;
    transition: 0.4s;
}

.applications .download {
    text-align: center;
}

.applications .download a {
    border: 3px solid white;
    padding: 16px 30px;
    font-size: 11px;
}

.applications:hover #here {
    border: 3px solid #D8383F;
}

.actus {
    background-color: white;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.actus a {
    color: black;
    width: 80%;
    font-size: 11px;
    line-height: 2.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    padding: 14px 8px;
}

.icon {
    margin: 0px;
    color: white;
}

a:hover {
    text-decoration: none;
}

.actus a .icon {
    font-weight: 400;
    margin-right: 5%;
}

.actus a .icon {
    color: black;
}

.actus a:hover {
    text-decoration: none;
    color: #D8383F;
    border: 3px solid #D8383F;
}

.actus a:hover .icon {
    text-decoration: none;
    color: #D8383F;
}

footer {
    min-height: 400px;
    background-color: #1D1D1E;
}

footer .icon {
    font-size: 20px;
}

footer #horaires {
    display: flex;
    align-items: center;
}

#horaires span {
    font-weight: bolder;
    font-size: 26px;
}

.infos span {
    margin-left: 26px;
}

#ouvert {
    margin: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.totalfooter span, .totalfooter a {
    font-family: 'Open Sans Condensed', sans-serif;
}

.utilites {
    margin-left: 40px;
}

.totalfooter {
    width: 80%;
    margin: auto;
    padding-top: 5%;
    color: white;
    font-size: 15px;
}

#adresse {
    display: flex;
    align-items: center;
}

#adresse p {
    margin-left: 5px;
}

.totalfooter .infos {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    margin: auto;
}

.infos a {
    color: white;
}

.infos a:hover i {
    text-decoration: none;
    color: #D8383F;
}

.infos a:hover {
    text-decoration: none;
    color: #D8383F;
}

.applissocial {
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
}

.applissocial a .icon {
    font-size: 29px;
}

.applissocial a:hover {
    text-decoration: none;
}

a .icon:hover {
    color: #D8383F;
}

.footerdeskonly {
    display: none;
}

@media (min-width: 768px) {
    .applications {
        min-height: 440px;
        justify-content: space-around;
    }
    .infos {
        font-size: 20px;
    }
    .infos .icon {
        font-size: 30px;
    }
    .iconappli i {
        font-size: 100px;
    }
    .applis p {
        font-size: 30px;
        margin-top: 40px;
    }
    .applissocial a .icon {
        font-size: 50px;
    }
    .download a {
        font-size: 36px;
    }
    #noneatmedium {
        display: none;
    }
    .applications .download a {
        font-size: 20px;
    }
}

@media (min-width: 995px) {
    /*NAVBAR OFFICIEL*/
    .navbar {
        height: 90px;
        display: flex;
        justify-content: space-around;
        padding: 0px;
    }
    .navbar-brand {
        width: 16%;
        margin: 0px;
        margin-left: 4%;
    }
    .navbar i {
        margin: 0px;
    }
    .navbar #iconsearch {
        width: 19%;
        border: 3px solid white;
    }
    .navbar #iconsearch:hover {
        border: 3px solid #D8383F;
    }
    #navbarTogglerDemo02 {
        height: 68px;
        align-items: baseline;
        width: 80%;
        margin-left: 4%;
    }
    #navbarDropdownMenuLink {
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 16px;
    }
    #navbarDropdownMenuLink:hover {
        color: #D8383F;
    }
    .fa-caret-down {
        color: white;
    }
    .form-inline {
        height: 64px;
    }
    .navbar-toggleable-md .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 86%;
        height: auto;
    }
    .navbar-nav .nav-item {
        border: none;
        background-color: #1D1D1E;
        color: white;
        display: flex;
        align-items: center;
    }
    #logolille {
        width: 7%;
        border: none;
        background-color: none;
    }
    .navbar-light .navbar-nav .active>.nav-link {
        color: white;
        font-size: 19px;
    }
    .navbar-light .navbar-nav .active>.nav-link:hover {
        color: #D8383F;
        transition: 0.4s;
    }
    .navbar ul li {
        background-color: none;
    }
    .selectlangues {
        color: white;
    }
    /*END OF NAVBAR OFFICIEL*/
    #noneatmedium {
        display: block;
    }
    .applications {
        height: 70px;
    }
    .applis {
        height: 100px;
    }
    .actus {
        min-height: 135px;
    }
    .pba figure {
        display: none;
    }
    .pba {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .pba article {
        border-bottom: 10px solid white;
        border-top: 10px solid white;
        height: 300px;
    }
    .pba .collections {
        border-bottom: 10px solid white;
    }
    .pba .chevrondown {
        width: 100%;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: end;
        font-size: 7px;
    }
    .pba .chevrondown:hover {
        color: #D8383E;
    }
    .pba article {
        width: 35%;
    }
    .container-fluid .row figure {
        min-height: 320px;
        width: 100%;
    }
    .container-fluid .row .col1 {
        background: url(../img/col1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col2 {
        background: url(../img/col2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col3 {
        background: url(../img/col3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col4 {
        background: url(../img/col4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .col5 {
        background: url(../img/col5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .overlay {
        width: 100%;
        height: 100%;
    }
    .container-fluid .row figure:hover .overlay {
        background-color: rgba(216, 56, 63, 0.5);
    }
    .texteintermediaire {
        height: 170px;
    }
    .petittexte {
        height: 170px;
        justify-content: center;
    }
    .petittexte .fa-caret-down {
        color: white;
    }
    .totalfooter {
        display: none;
    }
    .footerdeskonly {
        display: flex;
        justify-content: space-between;
        margin-top: 4%;
        color: white;
        padding-top: 6%;
        border-bottom: 1px white solid;
        width: 80%;
        margin: auto;
        padding-bottom: 3%;
    }
    .footerdeskonly .icon {
        font-size: 20px;
        margin-top: 5%;
        color: white;
    }
    .footerdeskonly a, .footerdeskonly p {
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .footerdeskonly ul {
        padding: 0px;
        margin: 0px;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .footerdeskonly h5 {
        margin: 10% 0%;
        font-family: "Lovelo-Black";
    }
    .footerdeskonly a:hover {
        color: #D8383F;
        transition: 0.3s;
    }
    .followers div {
        display: flex;
        justify-content: space-between;
    }
    .linefooter {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 2%;
    }
    .linefooter a {
        display: flex;
        align-items: center;
        color: white;
    }
    .linefooter a:hover .icon {
        color: #D8383F;
    }
    .linefooter a:hover {
        color: #D8383F;
    }
    .linefooter p {
        margin: 0px;
        padding-left: 9px;
    }
}


}

/*END OF YOUNESS*/

/*KEVIN*/

/*NAVBAR*/
.noborder {
    border: 0px;
    border-radius: 0px;
}
.navbarbar {
    color: white;
    background-color: #1D1D1E;
    width: 100%;
}
.navbarbar ul {
    list-style-type: none;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.navbarbar ul li {
    border: 1px solid white;
    height: 62.5px;
    margin-bottom: 22.5px;
    background-color: white;
    width: 80%;
}
.navbarbar a {
    color: black;
}
.navbarbar a:hover {
    color: #D8383E;
    text-decoration: none;
}
.navbarbar span {
    font-size: 20px;
    font-weight: bold;
}
.fa-caret-down {
    color: white;
}
.navbarbar figure, .navbarbar p, .navbarbar i {
    margin: auto;
}
.navbarbar p {
    font-size: 14px;
    font-weight: bold;
}

/*GALERIE PHOTO*/
.grandBleu {
    background: url(../img/grandBleuImg.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.love {
    background: url(../img/love.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.ta {
    background: url(../img/table.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.demon {
    background: url(../img/demon.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.betes {
    background: url(../img/betes.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.chiffre {
    background: url(../img/chiffres.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.blonde {
    background: url(../img/blonde.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.maxi {
    background: url(../img/maxi.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.blocBlanc {
    background-color: white;
    width: 60%;
    height: 40%;
    margin: auto;
}
.titre {
    font-weight: 600;
    font-size: 28px;
    margin-top: 5%;
    margin-left: 5%;
}
.fa-clock-o {
    color: grey;
}
.texte {
    color: grey;
    font-size: 14px;
    width: 80%;
    display: inline-block;
}

/*TITRE LES INCONTOURNABLES*/
.var {
    background: url(../img/var.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.oeuvre {
    background: url(../img/oeuvre.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}
.twelve {
    background: url(../img/twelve.jpeg) center;
    background-size: cover;
    height: 55vh;
    display: flex;
}

/*GALERIE PHOTO*/

/*TABLETTE ET MOBILE SELECTION*/
.tabmob {
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.tabmob figure {
    margin: auto;
}
.tabmob h3, .tabmob a {
    color: #D8383E;
    font-size: 16px;
    text-align: center;
}
.tabmob a {
    border: 1px solid #D8383E;
    width: 90%;
    height: 20%;
    margin: auto;
}
.tabmob a:hover {
    text-decoration: none;
    color: white;
}
.nomobile {
    display: none;
}

/*TABLETTE ET MOBILE SELECTION*/
@media (min-width: 1024px) {
    .nodesktop {
        display: none;
    }

    .nomobile {
        display: block;
    }

    .menu {
        width: 100%;
        display: flex;
    }

    .menu h2 {
        text-align: center;
        border: 1px solid white;
        height: 20%;
        background-color: white;
        margin-top: 90%;
        font-size: 28px;
        padding: 1em;
    }

    .menu article {
        width: 20%;
        height: 80vh;
    }

    .article1 {
        background: url(../img/desktop/indi.jpeg) center;
        background-size: cover;
    }

    .article2 {
        background: url(../img/desktop/grou.jpeg) center;
        background-size: cover;
    }

    .article3 {
        background: url(../img/desktop/fam.jpeg) center;
        background-size: cover;
    }

    .article4 {
        background: url(../img/desktop/etu.jpeg) center;
        background-size: cover;
    }

    .article5 {
        background: url(../img/desktop/ensei.jpeg) center;
        background-size: cover;
    }
    /*NAVBAR DESKTOP END*/

    .galerie {
        display: flex;
        flex-wrap: wrap;
    }

    .blocBlanc {
        margin: auto;
    }

    .grandBleu, .ta, .love, .demon, .betes, .chiffre, .blonde, .maxi {
        width: 25%;
        display: inline-block;
        margin: 0;
    }

    .incontournablee {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .var, .oeuvre, .twelve {
        width: 33.3%;
    }
}

/*END OF KEVIN*/

/* Start Aaron */

/* Start All */
.w100 {
    width: 100%;
    margin: 0px;
}
.container-fluid .row figure {
    min-height: 0px;
}
.fa-caret-down {
    color: black;
}

/* End All */

/* Start Agenda */
.flaticon-uniE901 {
    font-size: 37.5px;
}
.fig {
    width: 100%;
    height: 274px;
    margin: 0;
}
.fig img {
    width: 100%;
    height: 100%;
}
.h2-1 {
    font-size: 14px;
}
.select-1 {
    margin: 20px;
    border: 5px black solid;
}
.actu-list-agenda {
    padding-left: 55px;
    padding-right: 55px;
}
.font-33px {
    font-size: 33px;
}
.font-26px {
    font-size: 26px;
}
.violet {
    color: #D3336C;
}

/* End Agenda */

/* End Aaron */

/* ==========================================================================
=======
}

/*END OF KEVIN*/

/* Start Aaron */

/* Start All */
.w100 {
    width: 100%;
    margin: 0px;
}
.fa-caret-down {
    color: black;
}
.triangle {
    color: white;
    font-size: 16px;
}

/* End All */

/* Start Agenda */
.flaticon-uniE901 {
    font-size: 37.5px;
}
.fig {
    width: 100%;
    height: 274px;
    margin: 0;
}
.fig img {
    width: 100%;
    height: 100%;
}
.h2-1 {
    font-size: 14px;
}
.select-1 {
    margin: 20px;
    border: 5px black solid;
}
.actu-list-agenda {
    padding-left: 55px;
    padding-right: 55px;
}
.font-33px {
    font-size: 33px;
}
.font-26px {
    font-size: 26px;
}
.violet {
    color: #D3336C;
}

/* End Agenda */

/* End Aaron */

/* ==========================================================================
>>>>>>> b96fd876f6ad0b93f260d4eb9d9eea6376e8e79c
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}
